<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edemacare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ble_icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActivityTheme"
            >
        <activity
            android:name="com.timeszoro.edemacare.BledeviceActivity"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.timeszoro.edemacare.EdemaActivity"
                android:label="@string/app_name"
                >

        </activity>
        <activity android:name="com.timeszoro.edemacare.FileUploadActivity"
                  android:label="File Upload">

        </activity>
        <service android:name="com.timeszoro.service.TimerService"
                 >
        </service>
        <service android:name="com.timeszoro.service.BluetoothLeService"></service>

    </application>

</manifest>
